{
  "manager_addr": "<this-node-hostname>:17700",
  "http_addr": "0.0.0.0:8080",
  "manager_tls": true,
  "manager_tls_ca": "/usr/local/etc/apiary-tls/cert.pem",
  "manager_tls_server_name": "",
  "tls_cert": "/usr/local/etc/apiary-tls/cert.pem",
  "tls_key": "/usr/local/etc/apiary-tls/key.pem",
  "peer_tls": false,
  "peer_tls_ca": "",
  "peer_hostname_suffix": "",
  "peer_manager_port": "17700",
  "manager_api_key": ""
}
