{
  "data_dir": "/var/db/apiary/raftd",
  "socket": "/var/run/apiary/raftd.sock",
  "node_id": "<this-node-id>",
  "raft_bind": "<this-host-address>:17600",
  "join": "",
  "await_join": false,
  "internal_token": "",
  "raft_tls_cert": "",
  "raft_tls_key": "",
  "raft_tls_ca": ""
}
